{% extends 'accounts/profile-edit.html' %}
			{% block profile-data %}
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="">
					<form method="POST" action="/account/password/set/" class="password">
                        {% csrf_token %}

                    {% if form.errors %}
                    {% for value in form.errors.values %}
                    <div style="color:#dd003f;">
                        <a class="panel-close close" data-dismiss="alert" >×</a>
                        {{ value }}
                    </div>
                    {% endfor %}
                    {% endif %}
						<h4>Change password</h4>
                        <p>Once you have set a password, use can login as local user</p>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>New Password</label>
								<input type="password" name="password1" id="id_password1" placeholder="New Password" required="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Confirm New Password</label>
								<input type="password" name="password2" id="id_password2" placeholder="New Password" required="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="change">
							</div>
						</div>
					</form>
				</div>

			</div>
			{% endblock %}



