
<!DOCTYPE html>
{% load static %}
{% load ratings %}
{% load comments %}

<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>{{ title }}</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <!--<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />-->
	<link href="https://fonts.googleapis.com/css?family=Dosis|Nunito" rel="stylesheet">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
		<link rel="stylesheet" href= "{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href= "{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<style>
.mv-single-hero {
  background: url("{{ movie.backdrop }}") no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

</style>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="{% url 'account_login' %}" id="LoginForm" name="LoginForm">
			{% csrf_token %}


                        <div class="alert alert-warning alert-dismissable fade in">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <p id="pText"></p>
                        </div>

        	<div class="row">
        		 <label for="form.id_login">
                    Username:
                    <input type="text" name="login" id="form.id_login" placeholder="Username" required="required" />
                </label>
        	</div>

            <div class="row">
            	<label for="form.id_password">
                    Password:
                    <input type="password" name="password" required="" placeholder="Password" id="form.id_password"  required="required" />
                </label>
            </div>
            <div class="row">
            	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
            		<a href="#">Forget password ?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
        <div class="row">
        	<p>Or via social</p>
            <div class="social-btn-2">
            	<a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
            	<a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="{% url 'account_login' %}">
            <div class="row">
                 <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/"><img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
							Home <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="/">Home 01</a></li>
								<li><a href="homev2.html">Home 02</a></li>
								<li><a href="homev3.html">Home 03</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							movies<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" >Movie grid<i class="ion-ios-arrow-forward"></i></a>
									<ul class="dropdown-menu level2">
										<li><a href="moviegrid.html">Movie grid</a></li>
										<li><a href="moviegridfw.html">movie grid full width</a></li>
									</ul>
								</li>
								<li><a href="movielist.html">Movie list</a></li>
								<li><a href="moviesingle.html">Movie single</a></li>
								<li class="it-last"><a href="seriessingle.html">Series single</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="celebritygrid01.html">celebrity grid 01</a></li>
								<li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
								<li><a href="celebritylist.html">celebrity list</a></li>
								<li class="it-last"><a href="celebritysingle.html">celebrity single</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							news <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="bloglist.html">blog List</a></li>
								<li><a href="bloggrid.html">blog Grid</a></li>
								<li class="it-last"><a href="blogdetail.html">blog Detail</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							community <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="userfavoritegrid.html">user favorite grid</a></li>
								<li><a href="userfavoritelist.html">user favorite list</a></li>
								<li><a href="userprofile.html">user profile</a></li>
								<li class="it-last"><a href="userrate.html">user rate</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							pages <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="landing.html">Landing</a></li>
								<li><a href="404.html">404 Page</a></li>
								<li class="it-last"><a href="comingsoon.html">Coming soon</a></li>
							</ul>
						</li>
						<li><a href="#">Help</a></li>
						{% if user.is_authenticated %}
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Hi {% if not user.first_name %}
                {{ user.username }}
                {% else %}
                {{ user.first_name }}
                {% endif %}<span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/account/profileedit/"><span class="glyphicon glyphicon-edit"></span> Profile Edit</a>
                    </li>
                    <li><a href="/account/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </li>
            {% else %}
						<li class="loginLink"><a href="#">LOG In</a></li>
						<li class="btn signupLink"><a href="#">sign up</a></li>
						{% endif %}
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>

	    <!-- top search form -->
	    <div class="top-search">
	    	<select>
				<option value="united">TV show</option>
				<option value="saab">Others</option>
			</select>
			<input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
	    </div>
	</div>
</header>
<!-- END | Header -->

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="{{ movie.image }}" alt="">
					<div class="movie-btn">
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="https://www.youtube.com/embed/{{ movie.video }}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{ movie.title }} <span>{{ movie.rel_date.year }}</span></h1>
					<div class="social-btn">
						{% if user.is_authenticated %}
						{% if fav %}
						<a onclick="newfunction({{movie.id}})" class="parent-btn"><i id="p1" class="ion-ios-heart"></i></a>
						{%else%}
						<a onclick="newfunction({{movie.id}})" class="parent-btn"><i id="p2" class="ion-ios-heart-outline"></i>Favorites</a>
						{% endif %}
						{% endif %}
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="https://www.facebook.com/sharer/sharer.php?u=https://devthemovieworld.herokuapp.com/{{ movie.slug }}" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="https://twitter.com/home?status=https://devthemovieworld.herokuapp.com/{{ movie.slug }}" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="https://plus.google.com/share?url=https://themovieworld.herokuapp.com/{{ movie.slug }}" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
							</div>
						</div>
					</div>

					{% ratings movie %}
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#media"> Media</a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{ movie.synopsis }}</p>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Director: </h6>
												{% for item,it in  roles1 %}
												{% if "Director" in it.role %}
												<p><a href="#">{{ item.name }}</a></p>
												{% endif %}
												{% endfor %}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Writer: </h6><p>
						            			{% for item1,it1 in roles1 %}
												{% if "Writer" in it1.role %}
												<a href="#">{{ item1.name }},</a>
												{% endif %}
												{% endfor %}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p>{% for item in movie.genre.all %}
                {{item.name}}{% if not forloop.last %},{% else %}.{%endif%}
                {%endfor%}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{ movie.rel_date }}</p>
						            		</div>
											<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{ movie.runtime }} min</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>IMDB Rating:</h6>
						            			<p>{{movie.imdb_rating}}</p>
						            		</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
									<div class="rv-hd">
						            		<div class="div">
							            		<h3>Reviews To</h3>
						       	 				<h2>{{ movie.title }}</h2>
							            	</div>
							            	<a href="#id_comment" class="redbtn">Write A Review</a>
						            	</div>
						           <div class="row">
						            	<div class="topbar-filter">
											{% get_comment_count for review.movie movie.id as comment_count %}
											<p>Found <span>{{ comment_count }} reviews</span> in total</p>
											<label>Filter by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div>
									   {% get_comment_list for review.movie movie.id as comment_list %}
									   {% if comment_list %}
									   <div id="load-with-ajax">
									   {% for comment in comment_list %}
										<div class="mv-user-review-item">
											<div class="user-infor">
												<img src="{% static "images/uploads/default.jpg" %}" alt="">
												<div>
													<p class="time">
														{{ comment.submit_date }} by {{ comment.user_name }}
													</p>
												</div>
											</div>
											<pre style="color:#fff;">{{ comment.comment }}</pre>
										</div>
									   {% endfor %}
									   </div>
									   {% endif %}
									   {% if user.is_authenticated %}
            							{% get_comment_form for review.movie movie.id as form %}
<form action="/comments/post/" method="post" id="post_comments">
                {% csrf_token %}
                <input class="form-control" type="hidden" name="name" id="id_name" maxlength="50"/><br>
                <input class="form-control" type="hidden" name="email" id="id_email"/> <br>
                <input class="form-control" type="hidden" name="url" id="id_url"/> <br>

                <textarea class="form-control" style="width:97%; color:#fff; background-color:#020d18 !important;border:4px solid; border-color: rgb(165, 177, 179);" name="comment" required id="id_comment" cols="10" rows="5"
                          maxlength="300"></textarea><br>
                <form action="{% comment_form_target %}" method="POST">

                    <input type="hidden" name="honeypot" id="id_honeypot"/>
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}

                    <input type="hidden" name="submit" onclick="return false;" value="submit">
					<div class="rv-hd">
                    <button class="redbtn" type="button" id="submit_post" value="Pbtn-block" type="buttn-block" type="butst">
                        Post Review
                    </button>
					</div>
					<hr>
                </form>
            </form>

            {% else %}
            <p> Please <a href="/account/login/">log in</a> to leave a comment.</p>
            {% endif %}
										<div class="topbar-filter">
											<label>Reviews per page:</label>
											<select>
												<option value="range">5 Reviews</option>
												<option value="saab">10 Reviews</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 6:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#">3</a>
												<a href="#">4</a>
												<a href="#">5</a>
												<a href="#">6</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>{{ movie.title }}</h2>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Directors & Writers</h4>
										</div>
										{% for item1,it1 in roles1 %}
										{% if "Writer" in it1.role or "Director" in it1.role %}
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<img style="max-width:10%;" src="{% static "images/uploads/default.jpg" %}" alt="">
													<a href="#">{{ item1.name }}</a>
												</div>
												<p>{{ it1.role }}</p>
											</div>
										</div>
										{% endif %}
										{% endfor %}
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										{% for item1,it1 in roles1 %}
										{% if "Writer" in it1.role or "Director" in it1.role %}
										{% else %}
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<img style="max-width:10%;" src="{% static "images/uploads/default.jpg" %}" alt="">
													<a href="#">{{ item1.name }}</a>
												</div>
												<p>{{ it1.role }}</p>
											</div>
										</div>
										{% endif %}
										{% endfor %}
										<!-- //== -->
						            </div>
					       	 	</div>
					       	 	<div id="media" class="tab">
						        	<div class="row">
						        		<div class="rv-hd">
						            		<div>
						            			<h3>Videos & Photos of</h3>
					       	 					<h2>{{ movie.title }}</h2>
						            		</div>
						            	</div>
						            	<div class="title-hd-sm">
											<h4>Videos</h4>
										</div>
										<div class="mvsingle-item media-item">
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://img.youtube.com/vi/{{movie.video}}/mqdefault.jpg" alt="">
													<a class="fancybox-media hvr-grow"  href="https://www.youtube.com/embed/{{ movie.video }}"><img src="{% static "images/uploads/play-vd.png" %}" alt=""></a>
												</div>
											</div>
										</div>
										<div class="title-hd-sm">
											<h4>Photos </h4>
										</div>
										<div class="mvsingle-item">
											<a class="img-lightbox"  data-fancybox-group="gallery" href="{{ movie.image }}" ><img src="{{ movie.image }}" alt="" style="max-width:20%"></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="{{ movie.backdrop }}" ><img src="{{ movie.backdrop }}" alt="" style="max-width:20%"></a>
										</div>
						        	</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="/"><img class="logo" src="{% static "images/logo1.png" %}" alt=""></a>
				 <p>5th Avenue st, manhattan<br>
				New York, NY 10001</p>
				<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li>
					<li><a href="#">Watchlist</a></li>
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2017 Blockbuster. All Rights Reserved. Designed by leehari.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/plugins.js" %}"></script>
<script src="{% static "js/plugins2.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<script>
function newfunction(id) {
var w ="{{fav}}"
//console.log(w);
$.ajax({
    type: "GET",
    url: "/favorites/",
    dataType: "html",
    data:{'id':id},
    success:function(data){
    data1 = JSON.parse(data)


    if(data1["status"]==1)
    {

        var x = document.getElementById("p2");
        var y = document.getElementById("p1");
if(w=="True"){
        y.classList.remove("ion-ios-heart-outline");
        y.classList.add("ion-ios-heart");}
else{
x.classList.remove("ion-ios-heart-outline");
        x.classList.add("ion-ios-heart");}


    }
    else if(data1["status"]==0)
    {

        var y = document.getElementById("p1");
        var x = document.getElementById("p2");
        if(w=="True"){
                y.classList.remove("ion-ios-heart");

        y.classList.add("ion-ios-heart-outline");}
        else{
        x.classList.remove("ion-ios-heart");
        x.classList.add("ion-ios-heart-outline");}
    }
    else
    {

        var x = document.getElementById("p1");
        x.classList.toggle("fa-heart");
    }
    },
});
};
$('#LoginForm').submit(function() {
        $.ajax({
            data: $(this).serialize(),
        dataType: "json",
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            error: function(textStatus) {
        console.log(textStatus.responseJSON['form']['errors'][0])
        document.getElementById('pText').innerHTML = textStatus.responseJSON['form']['errors'][0]
        },
            success: function(response) {
            location.reload();
            }
        });
        return false;
    });


$("#submit_post").click(function(){
      $.ajax( {url: '/comments/post/', type:'post', data: $("#post_comments").serialize(),
          success: function (){
                 $("#load-with-ajax").load(" #load-with-ajax");
                 $("#post_comments")[0].reset();
          } } );


});

</script>

</body>
</html>