{% extends 'base2.html' %}
{% load static %}
{% load ratings %}
{% load comments %}
{% block style %}

<style>
.mv-single-hero {
  background: url("{{ movie.backdrop }}") no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

</style>
{% endblock %}
{% block content %}
{{ block.super }}
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="{{ movie.image }}" alt="">
					<div class="movie-btn">
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="https://www.youtube.com/embed/{{ movie.video }}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{ movie.title }} <span>{{ movie.rel_date.year }}</span></h1>
					<div class="social-btn">
						{% if user.is_authenticated %}
						{% if fav %}
						<a onclick="newfunction({{movie.id}})" class="parent-btn"><i id="p1" class="ion-ios-heart"></i></a>
						{%else%}
						<a onclick="newfunction({{movie.id}})" class="parent-btn"><i id="p2" class="ion-ios-heart-outline"></i>Favorites</a>
						{% endif %}
						{% endif %}
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="https://www.facebook.com/sharer/sharer.php?u=https://devthemovieworld.herokuapp.com/{{ movie.slug }}" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="https://twitter.com/home?status=https://devthemovieworld.herokuapp.com/{{ movie.slug }}" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="https://plus.google.com/share?url=https://devthemovieworld.herokuapp.com/{{ movie.slug }}" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
							</div>
						</div>
					</div>

					{% ratings movie %}
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#media"> Media</a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{ movie.synopsis }}</p>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Director: </h6>
												{% for item,it in  roles1 %}
												{% if "Director" in it.role %}
												<p><a href="{% url 'people-detail' item.slug %}">{{ item.name }}</a></p>
												{% endif %}
												{% endfor %}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Writer: </h6><p>
						            			{% for item1,it1 in roles1 %}
												{% if "Writer" in it1.role %}
												<a href="{% url 'people-detail' item1.slug %}">{{ item1.name }},</a>
												{% endif %}
												{% endfor %}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p>{% for item in movie.genre.all %}
                {{item.name}}{% if not forloop.last %},{% else %}.{%endif%}
                {%endfor%}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{ movie.rel_date }}</p>
						            		</div>
											<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{ movie.runtime }} min</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>IMDB Rating:</h6>
						            			<p>{{movie.imdb_rating}}</p>
						            		</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
									<div class="rv-hd">
						            		<div class="div">
							            		<h3>Reviews To</h3>
						       	 				<h2>{{ movie.title }}</h2>
							            	</div>
										{% if user.is_authenticated %}
							            	<a href="#id_comment" class="redbtn">Write A Review</a>
										{% endif %}
						            	</div>
						           <div class="row">
						            	<div class="topbar-filter">
											{% get_comment_count for review.movie movie.id as comment_count %}
											<p>Found <span>{{ comment_count }} reviews</span> in total</p>
											<label>Filter by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div>
									   {% get_comment_list for review.movie movie.id as comment_list %}
									   {% if comment_list %}
									   <div id="load-with-ajax">
									   {% for comment in comment_list %}
										<div class="mv-user-review-item">
											<div class="user-infor">
												<img src="{% static "images/uploads/default.jpg" %}" alt="">
												<div>
													<p class="time">
														{{ comment.submit_date }} by {{ comment.user_name }}
													</p>
												</div>
											</div>
											<pre style="color:#fff;">{{ comment.comment }}</pre>
										</div>
									   {% endfor %}
									   </div>
									   {% endif %}
									   {% if user.is_authenticated %}
            							{% get_comment_form for review.movie movie.id as form %}
<form action="/comments/post/" method="post" id="post_comments">
                {% csrf_token %}
                <input class="form-control" type="hidden" name="name" id="id_name" maxlength="50"/><br>
                <input class="form-control" type="hidden" name="email" id="id_email"/> <br>
                <input class="form-control" type="hidden" name="url" id="id_url"/> <br>

                <textarea class="form-control" style="width:97%; color:#fff; background-color:#020d18 !important;border:4px solid; border-color: rgb(165, 177, 179);" name="comment" required id="id_comment" cols="10" rows="5"
                          maxlength="300"></textarea><br>
                <form action="{% comment_form_target %}" method="POST">

                    <input type="hidden" name="honeypot" id="id_honeypot"/>
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}

                    <input type="hidden" name="submit" onclick="return false;" value="submit">
					<div class="rv-hd">
                    <button class="redbtn" type="button" id="submit_post" value="Pbtn-block" type="buttn-block" type="butst">
                        Post Review
                    </button>
					</div>
					<hr>
                </form>
            </form>

            {% else %}
            <p> Please <a href="/account/login/">log in</a> to leave a comment.</p>
            {% endif %}
										<div class="topbar-filter">

										</div>
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>{{ movie.title }}</h2>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Directors & Writers</h4>
										</div>
										{% for item1,it1 in roles1 %}
										{% if "Writer" in it1.role or "Director" in it1.role %}
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<img style="max-width:10%;" src="{% static "images/uploads/default.jpg" %}" alt="">
													<a href="{% url 'people-detail' item1.slug %}">{{ item1.name }}</a>
												</div>
												<p>{{ it1.role }}</p>
											</div>
										</div>
										{% endif %}
										{% endfor %}
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										{% for item1,it1 in roles1 %}
										{% if "Writer" in it1.role or "Director" in it1.role %}
										{% else %}
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<img style="max-width:10%;" src="{% static "images/uploads/default.jpg" %}" alt="">
													<a href="{% url 'people-detail' item1.slug %}">{{ item1.name }}</a>
												</div>
												<p>{{ it1.role }}</p>
											</div>
										</div>
										{% endif %}
										{% endfor %}
										<!-- //== -->
						            </div>
					       	 	</div>
					       	 	<div id="media" class="tab">
						        	<div class="row">
						        		<div class="rv-hd">
						            		<div>
						            			<h3>Videos & Photos of</h3>
					       	 					<h2>{{ movie.title }}</h2>
						            		</div>
						            	</div>
						            	<div class="title-hd-sm">
											<h4>Videos</h4>
										</div>
										<div class="mvsingle-item media-item">
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://img.youtube.com/vi/{{movie.video}}/mqdefault.jpg" alt="">
													<a class="fancybox-media hvr-grow"  href="https://www.youtube.com/embed/{{ movie.video }}"><img src="{% static "images/uploads/play-vd.png" %}" alt=""></a>
												</div>
											</div>
										</div>
										<div class="title-hd-sm">
											<h4>Photos </h4>
										</div>
										<div class="mvsingle-item">
											<a class="img-lightbox"  data-fancybox-group="gallery" href="{{ movie.image }}" ><img src="{{ movie.image }}" alt="" style="max-width:20%"></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="{{ movie.backdrop }}" ><img src="{{ movie.backdrop }}" alt="" style="max-width:20%"></a>
										</div>
						        	</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
function newfunction(id) {
var w ="{{fav}}"
//console.log(w);
$.ajax({
    type: "GET",
    url: "/favorites/",
    dataType: "html",
    data:{'id':id},
    success:function(data){
    data1 = JSON.parse(data)
    if(data1["status"]==1)
    {
        var x = document.getElementById("p2");
        var y = document.getElementById("p1");
if(w=="True"){
        y.classList.remove("ion-ios-heart-outline");
        y.classList.add("ion-ios-heart");}
else{
x.classList.remove("ion-ios-heart-outline");
        x.classList.add("ion-ios-heart");}
    }
    else if(data1["status"]==0)
    {
        var y = document.getElementById("p1");
        var x = document.getElementById("p2");
        if(w=="True"){
                y.classList.remove("ion-ios-heart");
        y.classList.add("ion-ios-heart-outline");}
        else{
        x.classList.remove("ion-ios-heart");
        x.classList.add("ion-ios-heart-outline");}
    }
    else
    {
        var x = document.getElementById("p1");
        x.classList.toggle("fa-heart");
    }
    },
});
};
</script>
{% endblock %}