{% extends 'accounts/profile-edit.html' %}
{% load static %}
{% load ratings %}
{% load comments %}

			{% block profile-data %}
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter user">
					<p>Found <span>1,608 movies</span> in total</p>
					<label>Sort by:</label>
					<select>
						<option value="range">-- Choose option --</option>
						<option value="saab">-- Choose option 2--</option>
					</select>
					<a href="userfavoritelist.html" class="list"><i class="ion-ios-list-outline "></i></a>
					<a  href="userfavoritegrid.html" class="grid"><i class="ion-grid active"></i></a>
				</div>
				<div class="flex-wrap-movielist grid-fav">
{% for item in movies %}
                    <div class="movie-item-style-2 movie-item-style-1 style-3">
							<img src="{{ item.image }}" alt="" style=" width:160px; height:240px;">
							<div class="hvr-inner">
	            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="{% url 'detail' item.slug %}">{{ item.title }}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{ item.imdb_rating }}</span> /10</p>
							</div>
						</div>
						{% endfor %}
				</div>
				<div class="topbar-filter">
					<label>Movies per page:</label>
					<select>
						<option value="range">20 Movies</option>
						<option value="saab">10 Movies</option>
					</select>

					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">...</a>
						<a href="#">78</a>
						<a href="#">79</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
			{% endblock %}
