{% extends 'base2.html' %}
{% load static %}
{% load ratings %}
{% load comments %}
{% block content %}
{{ block.super }}
<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-googleplus"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>
	    	<div  class="slick-multiItemSlider">
				{% for item in popular  %}
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:285px; height:437px;"></a>
	    			</div>
					<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
	    		</div>
				{% endfor %}
	    	</div>
	    </div>
	</div>
</div>
<div class="movie-items  full-width">
	<div class="row">
		<div class="col-md-12">
			<div class="title-hd">
				<h2>in theater</h2>
				<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
				<ul class="tab-links">
					<li class="active"><a href="#tab1-h2">#Popular</a></li>
					<li><a href="#tab2-h2"> #Coming soon</a></li>
					<li><a href="#tab3-h2">  #Top rated  </a></li>
					<li><a href="#tab4-h2"> #Most reviewed</a></li>                        
				</ul>
			    <div class="tab-content">
			        <div id="tab1-h2" class="tab active">
			            <div class="row">
			            	<div class="slick-multiItem2">
								{% for item in movies %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
	    									<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:216px; height:333px;"></a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            		</div>
			            		</div>
								{% endfor %}
			            	</div>
			            </div>
			        </div>
			        <div id="tab2-h2" class="tab">
			           <div class="row">
			            	<div class="slick-multiItem2">
			            		{% for item in movies %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
	    									<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:216px; height:333px;"></a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            		</div>
			            		</div>
								{% endfor %}
			            	</div>
			            </div>
			        </div>
			        <div id="tab3-h2" class="tab">
			        	<div class="row">
			            	<div class="slick-multiItem2">
			            		{% for item in movies %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
	    									<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:216px; height:333px;"></a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            		</div>
			            		</div>
								{% endfor %}
			            	</div>
			            </div>
		       	 	</div>
		       	 	 <div id="tab4-h2" class="tab">
			        	<div class="row">
			            	<div class="slick-multiItem2">
			            		{% for item in movies %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
	    									<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:216px; height:333px;"></a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            		</div>
			            		</div>
								{% endfor %}
			            	</div>
			            </div>
		       	 	</div>
			    </div>
			</div>
			<div class="title-hd">
				<h2>on tv</h2>
				<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
				<ul class="tab-links-2">
					<li class="active"><a href="#tab21-h2">#Popular</a></li>
					<li><a href="#tab22-h2"> #Coming soon</a></li>
					<li><a href="#tab23-h2">  #Top rated  </a></li>
					<li><a href="#tab24-h2"> #Most reviewed</a></li>                        
				</ul>
			    <div class="tab-content">
			        <div id="tab21-h2" class="tab active">
			            <div class="row">
			            	<div class="slick-multiItem2">
			            		{% for item in movies %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
	    									<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:216px; height:333px;"></a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            		</div>
			            		</div>
								{% endfor %}
			            	</div>
			            </div>
			        </div>
			        <div id="tab22-h2" class="tab">
			           <div class="row">
			            	<div class="slick-multiItem2">
			            		{% for item in movies %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
	    									<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:216px; height:333px;"></a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            		</div>
			            		</div>
								{% endfor %}
			            	</div>
			            </div>
			        </div>
			        <div id="tab23-h2" class="tab">
			        	<div class="row">
			            	<div class="slick-multiItem2">
			            		{% for item in movies %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
	    									<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:216px; height:333px;"></a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            		</div>
			            		</div>
								{% endfor %}
			            	</div>
			            </div>
		       	 	</div>
		       	 	 <div id="tab24-h2" class="tab">
			        	<div class="row">
			            	<div class="slick-multiItem2">
			            		{% for item in movies %}
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
	    									<a href="{% url 'detail' item.slug %}"><img src="{{ item.image }}" alt="gdf" style="width:216px; height:333px;"></a>
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="{% url 'detail' item.slug %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            		</div>
			            		</div>
								{% endfor %}
			            	</div>
			            </div>
		       	 	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
<div class="trailers">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>in theater</h2>
					<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="videos">
				 	<div class="slider-for-2 video-ft">
						{% for item in movies %}
				 		<div>
					    	<iframe class="item-video" src="" data-src="https://www.youtube.com/embed/{{item.video}}"></iframe>
					    </div>
						{% endfor %}
					</div>
					<div class="slider-nav-2 thumb-ft">
						{% for item in movies %}
						<div class="item">
							<div class="trailer-img">
								<img src="http://img.youtube.com/vi/{{item.video}}/mqdefault.jpg" width="4096" height="2737">
							</div>
							<div class="trailer-infor">
	                        	<h4 class="desc">{{ item.title }}</h4>
	                        </div>
						</div>
						{% endfor %}
					</div>
				</div>   
			</div>
		</div>
	</div>
</div>
{% endblock %}